*{
    margin: 0;
    padding: 0;
}

body{
    margin: 40px 45px;

}


.container{
    max-width: 350px;
    margin: auto;
}

body h1{
    font-size: 13px;
color: #676121;
font-weight: bold;
font-family: "Proxima Nova";
}


#sign{
    background-color: #0796d7;
}